:root {
  --section-bg-color: #fcfaf6;
  --button-bg-color: #010101;
  --border-radius: 65px;
  --button-padding: 20px 65px;
}

.header {
  height: 70px;
  display: flex;
  background-color: var(--section-bg-color);
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  z-index: 101;
}

.section {
  height: 100vh;
  padding: 100px 5%;
  box-sizing: border-box;
}
.section:nth-of-type(odd) {
  background-color: var(--section-bg-color);
}
.section:nth-of-type(even) {
  background-color: #fff;
}

.sectionAboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* components */

.button {
  background-color: var(--button-bg-color);
  border-radius: var(--border-radius);
  color: #fff;
  padding: var(--button-padding);
  width: fit-content;
  cursor: pointer;
  opacity: 0.85;
  transition: all ease-in 250ms;
}
.button:hover {
  opacity: 1;
}
.logo {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
}

span.title {
  font-size: 16px;
}
p.text {
  font-size: 18px;
  line-height: 181%;
}

/* sectionAboutUs */
.sectionAboutUs {
  padding-top: 170px;
}
.sectionAboutUs .title {
  margin-bottom: 27px;
}
.sectionAboutUs h1 {
  margin-bottom: 38px;
  line-height: 99%;
}
.sectionAboutUs .desc {
  font-size: 19px;
  margin-bottom: 54px;
}

/* sectionCases, sectionStat*/
.sectionCases,
.sectionStat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.sectionCases .textWrapper,
.sectionStat .textWrapper {
  display: flex;
  flex-direction: column;
}
.sectionCases .textWrapper .title,
.sectionStat .textWrapper .title {
  margin-bottom: 19px;
}
.sectionCases .textWrapper h2,
.sectionStat .textWrapper h2 {
  margin-bottom: 38px;
}
.sectionCases .textWrapper .text,
.sectionStat .textWrapper .text {
  margin-bottom: 58px;
}
.sectionCases .slider,
.sectionStat .stat {
  background-color: var(--section-bg-color);
  width: fit-content;
  height: 100%;
  border-radius: var(--border-radius);
}
.sectionCases .slider {
  overflow: hidden;
}
/* sectionStat */
.sectionStat h2 {
  line-height: 80%;
}
